<nav class="navbar" [class.collapsed]="collapsed">
  <div class="toggle-btn" (click)="toggleSidebar()">
    <i class="fa fa-bars"></i>
  </div>
  <div class="logo-section">
    <img src="assets/img/orangelogo.png" alt="Logo Orange" class="logo-img" />
  </div>
  <ul class="nav-links">
    <li *ngFor="let item of menu">
      <a *ngIf="item.route" [routerLink]="item.route" routerLinkActive="active">
        <span class="icon"><i [class]="item.icon"></i></span>
        <span class="text" *ngIf="!collapsed">{{ item.label }}</span>
      </a>
      <a *ngIf="item.external" [href]="item.route" target="_blank">
        <span class="icon"><i [class]="item.icon"></i></span>
        <span class="text" *ngIf="!collapsed">{{ item.label }}</span>
      </a>
    </li>
    
  </ul>
</nav>
   