<div class="reclamations-container">
  <h1 class="page-title">Mes réclamations</h1>

  <!-- Message si aucun résultat -->
  <div *ngIf="reclamations.length === 0" class="loading-message">
    <p>No reclamations found or loading...</p>
  </div>

  <!-- Liste des réclamations -->
  <div *ngIf="reclamations.length > 0" class="reclamation-list">
    <div *ngFor="let reclamation of reclamations" class="reclamation-card">
      <!-- Image de gauche -->
      <div class="reclamation-img-wrapper">
        <img src="assets/img/myreclamation.svg" alt="My Reclamation" />
      </div>


      <!-- Contenu à droite -->
      <div class="reclamation-content">
        <div class="reclamation-header-row">
          <h3 class="reclamation-title">{{ reclamation.titre | slice:0:28  }}...</h3>
          <span class="statut-button" [ngClass]="getStatutClass(reclamation.statut)">
            {{ reclamation.statut }}
          </span>
        </div>


<br>

  <p class="reclamation-description">
    {{ reclamation.description | slice:0:150}}...
  </p>
        <div class="created-date-container">

<br>
<br>
          <p class="created-date">
            🕒  {{ getFormattedDate(reclamation.createdDate) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="arrow-btn">
                <i class="fa fa-arrow-right"></i>
              </button>

          </p>

        </div>




      </div>
    </div>
  </div>
</div>
