<div class="table-container">
  <h1 class="page-title">Les Reclamations</h1>

  <!-- Message si aucun résultat -->
  <div *ngIf="reclamations.length === 0" class="loading-message">
    <p>No reclamations found or loading...</p>
  </div>

  <!-- Table des réclamations -->
  <table *ngIf="reclamations.length > 0" class="reclamation-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Priority</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reclamation of reclamations">
        <td>{{ reclamation.titre }}</td>
        <td>
          <span [ngClass]="getStatutClass(reclamation.statut)" class="badge">
            {{ reclamation.statut }}
          </span>
        </td>
        <td>
          <span [ngClass]="getPrioriteClass(reclamation.priorite)" class="badge">
            {{ reclamation.priorite }}
          </span>
        </td>
        <td>{{ reclamation.user?.firstname }} {{ reclamation.user?.lastname }}</td>
        <td>{{ reclamation.user?.email }}</td>
        <td>{{ reclamation.description | slice:0:150 }}...</td>
        <td>{{ getFormattedDate(reclamation.createdDate) }}</td>
        <td>
          <div class="action-group">
            <button class="action-btn view-btn" [routerLink]="['/reclamationadmin', reclamation.idReclamation]">
              <i class="fas fa-eye"></i> <!-- Icône pour Voir -->
            </button>
            
            <button class="action-btn delete-btn" (click)="deleteReclamation(reclamation)">
              <i class="fas fa-trash-alt"></i> <!-- Icône pour Supprimer -->
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
