<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="left">
      <div>
        <p>Créer un compte</p>
        <a>Vous avez déjà un compte ?</a>
        <input routerLink="/login" type="submit" value="Se connecter" />
      </div>
    </div>
    <div class="right">
      <div>
        <br>
        <br>

        <div *ngIf="errorMessage" class="error-message mt-2">
          {{ errorMessage }}
        </div>

        <!-- Prénom -->
        <input
          type="text"
          formControlName="firstname"
          placeholder="Prénom"
          [ngClass]="{ 'input-error': f['firstname'].touched && f['firstname'].invalid }"
        />
        <div *ngIf="f['firstname'].touched && f['firstname'].invalid" class="error-message">
          Le prénom est requis.
        </div>

        <!-- Nom -->
        <input
          type="text"
          formControlName="lastname"
          placeholder="Nom"
          [ngClass]="{ 'input-error': f['lastname'].touched && f['lastname'].invalid }"
        />
        <div *ngIf="f['lastname'].touched && f['lastname'].invalid" class="error-message">
          Le nom est requis.
        </div>

        <!-- Email -->
        <input
          type="email"
          formControlName="email"
          placeholder="E-mail"
          [ngClass]="{ 'input-error': f['email'].touched && f['email'].invalid }"
        />
        <div *ngIf="f['email'].touched && f['email'].invalid" class="error-message">
          <ng-container *ngIf="f['email'].errors?.['required']">
            L'adresse e-mail est requise.
          </ng-container>
          <ng-container *ngIf="f['email'].errors?.['email']">
            Format d'adresse e-mail invalide.
          </ng-container>
        </div>

        <!-- Mot de passe -->
        <input
          type="password"
          formControlName="password"
          placeholder="Mot de passe"
          [ngClass]="{ 'input-error': f['password'].touched && f['password'].invalid }"
        />
        <div *ngIf="f['password'].touched && f['password'].invalid" class="error-message">
          <ng-container *ngIf="f['password'].errors?.['required']">
            Le mot de passe est requis.
          </ng-container>
          <ng-container *ngIf="f['password'].errors?.['minlength']">
            Le mot de passe doit contenir au moins 8 caractères.
          </ng-container>
        </div>

        <!-- Téléphone -->
        <input
          type="text"
          formControlName="phone"
          placeholder="Numéro de téléphone"
          [ngClass]="{ 'input-error': f['phone'].touched && f['phone'].invalid }"
        />
        <div *ngIf="f['phone'].touched && f['phone'].invalid" class="error-message">
          Le numéro de téléphone est requis.
        </div>
                <br><br>


<div class="file-upload-container">
  <input
    id="pictureUpload"
    type="file"
    (change)="onFileSelected($event)"
    accept="image/*"
    class="file-upload-input"
  />
  <label for="pictureUpload" class="file-upload-label">
    <span class="material-symbols-outlined" style="font-size: 20px; vertical-align: middle;">
    </span>
    Télécharger votre photo
  </label>

  <div 
    class="image-preview" 
    [class.visible]="previewUrl"
    *ngIf="previewUrl"
  >
    <img [src]="previewUrl" alt="Preview de la photo" />
  </div>
</div>

<br>

 
        <button type="submit" [disabled]="registerForm.invalid">S'inscrire</button>

      </div>
    </div>
  </form>
</div>
